*{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: white;
    font-family: 'Bony';
}
@font-face {
    font-family: 'Bony';
    src: url('./fonts/Bony.otf');
}
.image{
    display: flex;
    flex-direction: row;
}
.img{
    background: url('./img/1.png');
    background-size: 100%;
}
.img2{
    background: url('./img/2.png');
    background-size: 100%;
}
.zombie{
    width: 100px;
    height: 100px;
    margin: 20px;
    background: url('./img/1.png');
    background-size: 100%;
    cursor: pointer;
    animation: rotate 0.1s linear infinite;
}
.people{
    width: 100px;
    height: 100px;
    margin: 20px;
    background: url('./img/2.png');
    background-size: 100%;
    cursor: pointer;
    animation: rotate 0.1s linear infinite;
}
.zdanie{
    background: url('./img/0.png');
    background-size: 100%;
}
.kletka{
    width: 100px;
    height: 100px;
    margin: 20px;
}
.green{
    color: #1eff00;
}
.red{
    color: #ff0000;
}
@keyframes rotate{
    0%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}
.main{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #2C3039;
    min-height: 100vh;
    flex-direction: column;
}
.main p{
    text-align: center;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.nav button{
    margin-bottom: 10px;
    padding: 10px;
    border: 0px;
    background-color: #9EACB7;
    border-radius: 10px;
}
.nav button:hover{
    background-color: #6B3638;
    cursor: pointer;
}

.pole{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 900px) and (min-width: 500px) {
    .pole{
        width: 90%;
    }
}
@media screen and (max-width: 499px) and (min-width: 300px){
    *{
        font-size: 25px;
    }
    .pole{
        width: 100%;
    }
    .kletka{
        width: 95px;
        height: 95px;
        margin: 10px;
    }
}
@media screen and (max-width: 299px){
    *{
        font-size: 20px;
    }
    .pole{
        width: 100%;
    }
    .kletka{
        width: 60px;
        height: 60px;
        margin: 10px;
    }
}